body {
  /*min-height: 2000px;*/
  padding-top: 60px;
  /*background-color: #EFC050;*/
}

input[type=range][orient=vertical] {
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 20px;
    height: 270px;
    /*padding: 0 0;*/
}
